@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom utility color classes */
@layer utilities {
  .bg-deepgreen { background-color: #101B2D; }
  .bg-sage { background-color: #212C42; }
  .bg-khaki { background-color: #B1AB86; }
  .text-cream { color: #fff; }
  .text-sage { color: #B2D2FB; }
}/* (Optional) custom layer overrides */

/* Optional: custom component overrides */
@layer components {
  .card {
    @apply rounded-md; /* or use rounded-sm / rounded-none */
  }
}

@layer utilities {
  .shadow-b {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }
}